		body {
			position: relative;
			background-color: black; /* Fond noir */
			margin: 0;
			display: flex;
			flex-direction: column;
			min-height: 100vh;
			text-align: center;
			color: white;
		}

		body::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-image: url('background.png');
			background-size: cover;
			background-repeat: no-repeat;
			opacity: 0.5;
			z-index: -1;
		}

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }
		
.tab-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.tab-content {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0.9);
    pointer-events: none;
}

.tab-content.active {
    left: 0;
    opacity: 1;
    transform: scale(1);
    pointer-events: auto;
    z-index: 2;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 5;
    padding: 10px;
    transition: transform 0.3s ease;
}

.arrow img {
    width: 50px;
    height: 50px;
    filter: drop-shadow(0 0 10px #58a6ff);
    transition: transform 0.3s ease, filter 0.3s ease;
}

.arrow:hover img {
    transform: scale(1.2);
    filter: drop-shadow(0 0 15px #58a6ff);
}

.arrow.left {
    left: 30px;
}

.arrow.right {
    right: 30px;
}


.container {
    width: 70%;
    margin: auto;
    padding: 20px;
    background-color: rgba(30,30,30, 0.96);
    border-radius: 10px;
	box-shadow: 0 0 50px rgba(53,33,75, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4em;
    color: #fff;
    backdrop-filter: blur(5px);
}

